.card-test {
	border: #000000 solid 1px;;
	display: block;
	padding: 2em;
}

.table {
	/*border: #000000 solid 1px;*/
	border: none;
	display: flex;
	flex-flow: column;
	flex-direction: column;
	flex: 1;
}

.row-table {
	display: flex;
	flex-flow: row;
}

.col-table {
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex: 1;
}

.large-image {
	max-width: 600px;
	min-width: 310px;
	display: flex;
}

.medium-image {
	max-width: 300px;
	min-width: 160px;
	display: flex;
}

.small-image {
	min-width: 100px;
	max-width: 150px;
	display: flex;
}

.flex-center {
	display: flex;
	margin: auto;
}

.large-icon {
	max-width: 120px;
	min-width: 70px;
	height: 100px;
	display: flex;
}

.medium-icon {
	max-width: 60px;
	min-width: 40px;
	height: 50px;
	display: flex;
}

.small-icon {
	max-width: 30px;
	min-width: 10px;
	height: 25px;
	display: flex;
}

.label-info {
	font-weight: normal;
	font-size: medium;
}

.value-info {
	font-weight: bold;
}

.divider {
	height: 3px;
	width: auto;
	background: #8c8c8c;
	opacity: 100;
	margin: 16px;
}

.wrap-img {
	min-height: 100px;
	max-height: 600px;
}

.wrap-text {
	border: #145214;
	margin: 0;
	padding: 4px;
}

.reset-body {
	margin: 0;
	padding: 0;
	background: unset;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #000;
	width: auto;
	height: auto;
	display: block;
	align-content: flex-start;
}

.fab-up-div {
	position: fixed;
	right: 10em;
	bottom: 5em;
	background-color: transparent;
}

.fab-bt {
	background-color: rgb(181, 74, 74);
	text-decoration: none;
	color: white;
	cursor: pointer;
	display: block;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	font-weight: bolder;
	font-size: 0.7em;
	padding: 0 0.4em;
	-moz-box-shadow: -0.12em 0.17em 0.4em 1px #6d2a2a96;
	-webkit-box-shadow: -0.12em 0.17em 0.4em 1px #6d2a2a96;
}