.card {
	border: #000000 solid 1px;;
	display: block;
	margin: 16px;
	padding: 8px;
}

.table {
	border: #000000 solid 1px;
	display: flex;
}

.row-table {
	display: flex;
	flex-flow: row;
}

.col-table {
	display: flex;
	flex-flow: column;
}

.small-image {
	width: 600px;
	height: 650px;
}
.medium-img {
	width: 300px;
	height: 350px;
	display: flex;
	flex-direction: row;
}
.small-image {
	width: 150px;
	height: 125px;
}
.large-icon {
	width: 100px;
	height: 100px;
}
.medium-icon {
	width: 50px;
	height: 50px;
}
.smaill-icon {
	width: 25px;
	height: 25px;
}
.label-info {
	font-weight: normal;
	font-size: medium;
}

.value-info {
	font-weight: bold;
}

.divider {
	height: 3px;
	width: auto;
	background: #8c8c8c;
	opacity: 100;
	margin: 16px;
}

.wrap-img {
	border: #145214;
	margin: 8px;
	padding: 4px;
}

.wrap-text {
	border: #145214;
	margin: 0;
	padding: 4px;
}
.reset-body {
	margin: 0;
	padding: 0;
	background: unset;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #000;
	width: auto;
	height: auto;
	display: block;
	align-content: flex-start;
}