*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #000;
	width: auto;
	height: auto;
	display: block;
	align-content: flex-start;
}

img {
	margin: 16px;
	padding: 4px;
}

aside {
	width: 33%;
	display: inline-block;
}

label {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-style: oblique;
}

span {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.4em;
	font-style: normal;
	font-weight: bold;
}

h1 {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
}

h2 {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
}
title {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bolder;
}
footer {
	min-height: 130px;
}
section {
	display: block;
	width: auto;
	height: auto;
}

a {
	color: inherit;
}