body {
	margin: 0;
	padding: 0;
	background: #ffffff url("../img/android_1920x1200.jpg") no-repeat fixed center;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #000;
	width: auto;
	height: auto;
	display: block;
	align-content: flex-start;
}

img {
	margin: 16px;
	padding: 4px;
}

aside {
	width: 33%;
	display: inline-block;
}

label {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1em;
	font-style: oblique;
	color: #cccccc;
}

span {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.4em;
	font-style: normal;
	font-weight: bold;
	color: #9d9d9d;
}

h1 {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	color: #9d9d9d;
}

h2 {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	color: #9d9d9d;
}
title {
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bolder;
	color: #ffffff;
}
footer {
	display: block;
	width: auto;
	height: 130px;
}
section {
	display: block;
	width: auto;
	height: auto;
	border: #145214 solid 2px;
}