* {
	background-color: white;
	border: none;
}
body {
	background: #54000014;
	border: none;
}
#home {
	border: none;
	display: block;
}
#home img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#home li {
	list-style: none;
}

#home a {
	text-align: left;
	color: brown;
	background-color: transparent;
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
	width: auto;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	padding: 72px 0;
}

#home li .row:hover {
	background-color: #cc660030;
}

.nav-ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	height: auto;
	width: 66%;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.nav-icon {
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	/* margin: 0 32px 0 0; */
	width: 100%;
	height: 100%;
}

.nav-icon-casamento {
	background-image: url(../../img/casamento/aneis.png);
	background-size: 224px;
}

.nav-icon-confra {
	background-image: url(../../img/casamento/icone-comida-simples.png);
	background-size: 144px;
}

.nav-icon-gift {
	background-image: url(../../img/casamento/gift.png);
	background-size: 144px;
}

#casamento {
	height: 428px;
	border: none;
}

#confra {
	height: 768px;
	border: none;
}

.info {
	border: none;
	padding: 16px;
	margin: 16px 101px;
}

.text-label {
	text-align: left;
	color: brown;
	font-size: 1.5rem;
	margin: 0 16px 0 24px;
	padding: 0;
}

.text-value {
	text-align: left;
	font-weight: bold;
	color: brown;
	font-size: 1rem;
	margin: 0 0 0 0;
	padding: 0;
}

.section-header {
	width: 100%;
	min-height: 200px;
}

.section-header .casamento-icon {
	background-clip: unset;
	background: url(../../img/casamento/aneis.png) no-repeat center;
	background-size: 124px 124px;
}

.confra-header {
	background-clip: unset;
	background: url("../../img/casamento/icone-comida-simples.png") no-repeat 115px 50px;
	background-size: 105px 105px;
}

.gift-header {
	background-clip: unset;
	background: url(../../img/casamento/gift.png) no-repeat 123px 76px;
	background-size: 100px 80px;
}

.gift-text {
	text-transform: uppercase;
}
.gift-close {
	text-decoration: line-through;
	color: black;
}

.gift-ol {
	margin-left: 280px;
}

ol li .who-gave {
	text-decoration: none;
	color: transparent;
	visibility: hidden;
}

.gift-margin {
	margin-left: 200px;
}

.section-title {
	text-align: left;
	vertical-align: middle;
	color: brown;
	font-size: 2rem;
	font-weight: bold;
	background-color: transparent;
}

.maps-incoporated {
	display: block;
	width: 100%;
	text-align: center;
}

.clear-background-div {
	background-color: transparent;
}