@media screen and (min-width: 300px) {
	body {
		font-size: 5pt;
	}
}
@media screen and (min-width: 700px){
	body {
		font-size: 16pt;
	}
}

body {
	background: #54000014;
	border: none;
	line-height: 1em;
	height: 100% !important;
	width: 100vw;
}

footer {
	min-height: 0;
}

#home {
	border: none;
	background-color: white;
}

#home img {
	width: 100%;
	margin: 0;
	padding: 0;
}

#home .col {
	text-align: center;
}

#home li {
	list-style: none;
}

#home a {
	text-align: left;
	color: brown;
	background-color: transparent;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	width: auto;
	text-decoration: none;
	vertical-align: middle;
	padding: 72px 0;
}

#home li .row:hover {
	background-color: #cc660030;
}

.nav-ul {
	text-align: left;
	vertical-align: top;
	width: 66%;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.nav-icon {
	vertical-align: middle;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	/* margin: 0 32px 0 0; */
	width: 100%;
}

.nav-icon-casamento {
	background-image: url(../../img/casamento/aneis.png);
	background-size: 224px;
}

.nav-icon-confra {
	background-image: url(../../img/casamento/icone-comida-simples.png);
	background-size: 144px;
}

.nav-icon-gift {
	background-image: url(../../img/casamento/gift.png);
	background-size: 144px;
}

.section-card {
	margin: 2em auto;
	border: none;
	background-color: white;
}

.info {
	border: none;
	padding: 0 1em;
	margin: 0 1em;
}

.text-label {
	text-align: left;
	color: brown;
	font-size: 0.7em;
	margin: .5em .5em;
	padding: 0.2em;
}

.text-value {
	text-align: left;
	font-weight: bold;
	color: brown;
	font-size: 0.9em;
	margin: auto 1em;
	padding: 0.2em;
}

.text-link {
	text-decoration: underline;
}

.section-header {
	min-height: 4em;
	margin-left: 1em;
	margin-bottom: 2em;
	padding: 1.5em 1em;
}

.section-header .icon{
	background: no-repeat center;
	background-clip: unset;
	margin: 0;
	padding: 1.5em;
	max-width: 3em;
}

.section-header .casamento-icon {
	background-image: url(../../img/casamento/aneis.png);
	background-size: 3em 3em;
}

.section-header .confra-icon {
	background-image: url("../../img/casamento/icone-comida-simples.png");
	background-size: 2em 2em;
}

.section-header .gift-icon {
	background-image: url(../../img/casamento/gift.png);
	background-size: 2em 2em;
}

.section-title {
	text-align: left;
	vertical-align: middle;
	color: brown;
	font-size: 1.75em;
	font-weight: bold;
	margin: auto 1em;
	padding: 0;
	background-color: transparent;
}

.gift-text {
	text-transform: uppercase;
}

.gift-close {
	text-decoration: line-through;
	color: black;
}

.gift-ol {
	margin-left: 280px;
}

ol li .who-gave {
	text-decoration: none;
	color: transparent;
	visibility: hidden;
}

.maps-incoporated {
	width: 100%;
	min-height: 20em;
	text-align: center;
	margin: auto;
	padding: 1em;
}

.clear-background-div {
	background-color: transparent;
}

.board-img {
	min-width: 100px;
	min-height: auto;
	max-width: 25%;
	max-height: 75%;
	margin: auto;
	padding: 0;
}

.section-content-subtitle {
	padding: 1em 1em 1em 9em;
}