#footer {
	background-color: #0b390b;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 24px;
	color: #ffffff;
}

#footer .footername {
	text-transform: capitalize;
	font-weight: bold;
}

#footer .text {
	color: #ffffff;
}

#footer a {
	color: inherit;
	list-style: none;
}

#footer .version {
	font-size: 0.6em;
	color: white;
	text-align: right;
}