#footer {
	background-color: #2eb82e;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 24px;
	color: #ffffff;
}

#footer .footername {
	text-transform: capitalize;
	font-weight: bold;
}

#footer .text {
	color: #ffffff;
}

#footer a {
	color: inherit;
	list-style: none;
}