#main-content {
	height: auto;
	width: auto;
	margin: 16px;
	background-color: #ffffff;
	border-radius: 30px;
	opacity: 1;
	display: inline-block;
}

#person-info {
	border: #2eb82e solid 1px;
	height: 500px;
	display: flex;
	flex-direction: row;
}
#profile-img {
	display: flex;
	flex-grow: 1;
}

#professional-abstract {
	border: #cc6600 solid 1px;
	margin: 16px;
}

#person-info #info {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	flex-wrap: nowrap;
}

#bodyshadow {
	background: #c2f0c2;
	border-radius: 10px;
	opacity: .3;
	padding: 24px;
	margin: 10px 24px;
	height: 780px;
}