body {
	background-color: #3b1e03;
}
.video-player {
	text-align: center;
	width: 20em;
	height: auto;
	display: flex;
	margin: auto;
}

.card {
	/*background-color: #cccccc;*/
	display: block;
	padding: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.advice {
	background-color: #ffffff75;
	font-size: 3em;
}

.profile-img {
	margin: auto;
	margin-top: 2em;
	border-radius: 3.3% !important;
}

.profile-text {
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 0.5em;
	color: white;
}

.section-title {
	text-align: center;
	justify-content: center;
	color: #3b1e03e6;
}